h2 {
	font-size: 30px;
	font-weight: 100;
	color: #232d60;
}
.container { 
	height: 100vh;
	width: 100%;
	background-image: url(background.png);
	background-position: center;
	background-size: cover;
	padding-left: 5%;
	padding-right: 5%;
	box-sizing: border-box;
	position: relative;
}
.navbar {
	width: 100%;
	height: 15vh;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content:center;
	position: sticky;
	top: 0;
}
nav {
	flex: 1;
	padding-left: 60px;
}
nav ul li {
	display: inline-block;
	list-style: none;
	margin: 0px 20px;
}
nav ul li a {
	color: #333;
	text-decoration: none;
	padding: 8px 25px;
	transition: all .5s ease;
}
.navbar ul li a:hover{
	background-color: white;
	color: black;
	box-shadow: 0 0 10px white;
}
.titolo h1 {
	font-size: 60px;
	font-weight: 100;
	margin-top: 24px;
	margin-bottom: 15px;
	color: #232d60;
}
.titolo p {
	font-size: 20px;
	color: #6a7199;
}
.titolo {
	margin-left: 10%;
	margin-top: 10%;
}
.frecce {
	margin-top: 40px;
	display: flex;
}
.frecce img {
	width: 40px;
	margin-right: 25px;
}
.me {
	height: 90%;
	position: absolute;
	bottom: 0;
	right: 160px;
}
.f1 {
	height: 40%;
	position: right;
	bottom: 0;
	right: 160px;
	margin-left:135px;
}
.calcio {
	height: 40%;
	position: left;
	bottom: 0;
	right: 160px;
	margin-left:50px;
}
.titolo2 h2 {
	font-size: 40px;
	font-weight: 100;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #232d60;
}
.titolo2 p {
	font-size: 20px;
	color: #6a7199;
}
.titolo2 {
	margin-left: 10%;
	margin-top: 5%;
}
.scanzo {
	height: 50%;
	position: right;
	bottom: 0;
	right: 160px;
	margin-right: 30px;  
	margin-left: 135px
}
.paleocapa{
	height: 50%;
	position: left;
	bottom: 0;
	right: 160px;
	margin-left:50px;
}